*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.justifyPage {
    display: grid;
    margin: 1rem 2rem;
}
.main{
    display: grid;
    grid: "card card card card card";
    gap: 3rem;
}
.card-body {
    display: grid;
    gap: 0.5rem;
    padding: 1rem;
}
.card-img-edit {
    position: absolute;
    top: 10%;
    left: 25%;
    opacity: 0;
    transition: opacity 0.5s;
}
#divBotoes{
    display: flex;
    justify-content: space-around;
}
.modal {
    margin: 2rem;
    width: 900px;
}
#search{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

label{
    margin: 3px;
}
@media (max-width:1150px) { 
    .main{
    display: grid;
    grid: 
    "card card card card";
    gap: 10px   ;
    padding: 10px;
    }
}
 @media (max-width:1000px) { 
    .main{
    display: grid;
    grid: 
    "card card card ";
    gap: 10px   ;
    padding: 10px;
    }
}
@media (max-width:700px) {
    .main{
        display: grid;
        grid: 
        "card card ";
        gap: 10px   ;
        padding: 10px;
        }
}
@media (max-width:500px) {
    .main{
        display: grid;
        grid: 
        "card ";
        gap: 10px   ;
        padding: 10px;
        }
}