<div  class="dropdown" id="search">

      <div>
        <label for="nome">Nome do produto:</label>
        <input type="text" name="nome" id="serachName" placeholder="nome do produto">
      </div>

      <div>
        <label for="categoria">Categoria do produto:</label>
        <input type="text" name="categoria" id="searchCategoria" placeholder="categoria do produto">
      </div>

      <div>
        <label for="quantidade">Quantidade do produto:</label>
        <input type="number" name="quantidade" id="searchQuantidade">
      </div>

      <div>
        <label for="validade">Validade do produto:</label>
        <input type="date" name="validade" id="searchValidade">
      </div>

      <input type="button" value="search">

</div> 


<div id="container">
  <div class="card" *ngFor="let product of products">
    <div class="productImage">
        <img
          src="../../assets/esmalte.png"
          class="card-img-top"
          alt="esmalte"
        />
    </div>

    <div class="card-body">
      <h5 class="card-title">{{ product.name }}</h5>
      <p class="card-text">{{ product.desc }}</p>
      <p class="card-text">{{ product.categoria }}</p>

      <div id="divBotoes">

        <a data-bs-toggle="modal" data-bs-target="#productModal" >
          <button class="btn btn-primary p-2">
              Editar
              <img/>
          </button>
      </a>

        <a href="#" class="btn btn-danger p-2">Excluir</a>
     </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  *ngFor="let product of products"
  id="productModal"
  tabindex="-1"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          {{ product.name }}
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        {{ product.desc }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
