*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container{ 
    width: 100vw;
    height: 100vh;
    background-image: url( ../../assets/estetica-corporal.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
#login{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 450px;
    height: 600px;
    padding: 10px;
    border: 1px solid #004a8d; 
    margin-left: 200px;
    background-color: #fff;
    border-radius: 6px;
}
input{  
    padding: 8px;
    margin: 5px;
    border: none;
    border-bottom: 1px solid #004a8d;
    outline: none;
}
input:hover{
    outline: none;
    border: none;
    border-bottom: 1px solid #e2902c
}
#btn{
    background-color: #f9a94a;
    border: none;
    border-radius: 10px;
    padding: 15px;
    font: bolder;
    color: #fff;
}
#btn:hover{
    cursor: pointer;
    background-color: #e2902c;
    transition: 0.3s;
}
label{
    margin-left: 10px;
    color: #004a8d;
    font-family:sans-serif;
    font-weight: 700;
    font-size: 1rem;

}
#logo{
    width: 150px;
    height: 100px;
}
h3{
    color: #004a8d;
    font-family:sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    margin: 20px;

}
#text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#botoes{
    display: flex;
    justify-content: center;
}
.img_input{
    width: 20px;
    height: 20px;
    position: relative  ;
    bottom: 55px;
    left: 380px;
}
#enfeite{
    position: absolute;
    width: 150px;
    bottom: 680px;
    left: 530px;
}