<div class="m-3">
    <label for="productName" class="form-label">Nome</label>
    <input type="text" class="form-control" id="productName" placeholder="Nome do Produto">
  </div>
  <div class="m-3">
    <label for="productCategory" class="form-label">Categoria</label>
    <input type="text" class="form-control" id="productCategory" placeholder="Categoria do Produto">
  </div>
  <div class="m-3">
    <label for="productQuantity" class="form-label">Quatidade</label>
    <input type="number" class="form-control" id="productQuantity" placeholder="Quantidade do Produto">
  </div>
  <div class="m-3">
    <label for="productValidate" class="form-label">Validade</label>
    <input type="date" class="form-control" id="productValidate">
  </div>

  <div class="d-flex gap-3 m-3">
    <button id="saveButton" type="button" class="btn btn-success">Salvar</button>
    <button id="cancelButton" type="button" class="btn btn-secondary">Cancelar</button>
  </div>