<div class=" container p-4 mb-3">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Nome:</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Jose da Silva">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Descrição do produto</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>

    <div class="mb-3">
        <label for="formFile" class="form-label">Cadastre sua foto</label>
        <input class="form-control" type="file" id="formFile">
      </div>
      <button type="button" class="btn btn-success">Enviar</button>
      <button type="button" class="btn btn-danger" href="../login/login.component.html">Cancelar</button>
  </div>
